@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  background-image: 
    linear-gradient(#efefef 1.1px, transparent 1.1px), 
    linear-gradient(to right, #f3f3f3 1.1px, #fff 1.1px);
  background-size: 150px 150px;
  min-height: 100vh;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
