/* 
 * Koffee UI 2
 * https://github.com/kevinhellos/koffee-ui2
 * Version 0.0.1
 * Updated as of Jan 27 2025
 */

body {
    /* font-family: "Inter Tight", sans-serif !important; */
    /* overflow-x: hidden; */
    /* As there is currently no dark mode, all elements by default have a black text */
    color: #000; 
}

/* Bar - start */
.kf-bar {
    @apply
    px-3.5 py-3 text-sm rounded-sm border-l-2
}
.kf-bar-red {
    @apply
    kf-bar bg-red-100/75 text-red-800 border-red-800
}
.kf-bar-green {
    @apply
    kf-bar bg-green-100/75 text-green-800 border-green-800
}
.kf-bar-blue {
    @apply
    kf-bar bg-blue-100/75 text-blue-800 border-blue-800
}
.kf-bar-yellow {
    @apply
    kf-bar bg-yellow-100/75 text-yellow-800 border-yellow-800
}
.kf-bar-purple {
    @apply
    kf-bar bg-purple-100/75 text-purple-800 border-purple-800
}
/* Bar - end */

/* Buttons - start */
.kf-btn {
    @apply
    px-3.5 py-2 rounded-sm text-sm cursor-pointer hover:opacity-80 
    active:opacity-100 font-medium shadow-sm w-fit
}
.kf-btn-plain {
    @apply
    kf-btn bg-slate-100 hover:bg-slate-200
}
.kf-btn-default {
    @apply
    kf-btn bg-white hover:bg-slate-100 border
}
.kf-btn-black {
    @apply
    kf-btn bg-black text-white
}
/* Buttons - end */

/* Card - start */
.kf-card {
    @apply
    px-3.5 py-2 border rounded-sm shadow-sm
}
.kf-card-title {
    @apply
    text-lg font-medium
}
.kf-card-content {
    @apply
    text-sm
}
/* Card - end */

/* Colors - start */
.kf-bg-red {
    @apply
    bg-red-100/75
}
.kf-bg-green {
    @apply
    bg-green-100/75
}
.kf-bg-blue {
    @apply
    bg-blue-100/75
}
.kf-bg-yellow {
    @apply
    bg-yellow-100/75
}
.kf-bg-purple {
    @apply
    bg-purple-100/75
}
/* Colors - end */

/* Dialog - start */
/* Dialog */
::backdrop {
    backdrop-filter: blur(2.5px) !important;
}
.kf-dialog {
    @apply
    rounded-sm p-7 max-w-xl text-sm
}
.kf-dialog-title {
    @apply
    text-lg font-medium
}
/* Dialog - end */

/* Dropdown - start */
.kf-dropdown {
    @apply
    relative inline
}
.kf-dropdown-btn {
    @apply
    kf-btn-default
}
.kf-dropdown-content {
    @apply
    hidden z-[1] absolute bg-white border rounded-sm shadow-md
}
.kf-dropdown-content a {
    @apply
    px-3.5 py-2 hover:bg-slate-50  hover:rounded-sm min-w-36 block text-sm
}
.kf-dropdown:hover .kf-dropdown-content {
    display: block;
}
/* Dropdown - end */

/* Form - start */
.kf-form {
    @apply
    border p-7 shadow-sm rounded-sm
}
.kf-form-error {
    @apply
    border border-red-700
}
.kf-form input{
    @apply
    kf-input
}
.kf-form-validation {
    @apply
    text-red-700 text-sm block
}
/* Form - end */

/* Chips - start */
.kf-chip {
    @apply
    px-3.5 py-1 text-sm rounded-full shadow-sm
}
.kf-chip-default {
    @apply
    kf-chip border
}
.kf-chip-black {
    @apply
    kf-chip bg-black text-white
}
.kf-chip-red {
    @apply
    kf-chip text-red-700 border border-red-700
}
/* Chips - end */

/* Collapsible - start */
.kf-collapsible {
    @apply
    px-0 py-0 border rounded-sm cursor-pointer shadow-sm
}
.kf-collapsible-header {
    @apply
    px-3.5 py-2 hover:bg-slate-50 active:bg-slate-100 font-medium
}
.kf-collapsible-body {
    @apply
    px-3.5 py-2 border bg-white rounded-sm cursor-pointer border-l-0 border-r-0 border-b-0 hidden
}
.kf-collapsible-active {
    @apply
    block relative
}
/* Collapsible - end */

/* Input - start */
.kf-input {
    @apply
    appearance-none px-3.5 py-2 text-sm rounded-sm border
    hover:bg-slate-50 shadow-sm cursor-pointer
}
/* Input - end */

/* Link - start */
.kf-link {
    @apply
    cursor-pointer hover:underline px-3.5 py-2
}
.kf-link-default {
    @apply
    kf-link
}
.kf-link-plain {
    @apply
    hover:bg-slate-50 px-3.5 py-2 rounded-sm
}
/* Link - end */

/* Pagination - start */
.kf-pagination {
    @apply
    flex
}
.kf-pagination button {
    @apply
    rounded-none border-r-0
}
.kf-pagination > button:nth-of-type(1) {
    @apply
    rounded-l-sm
}
.kf-pagination button:last-of-type {
    @apply
    rounded-r-sm border
}
.kf-page-active {
    @apply
    bg-black text-white hover:bg-black
}
/* Pagination - end */

/* Pin input - start */
.kf-pin-input {
    @apply
    flex gap-3
}
.kf-pin-input input {
    @apply
    appearance-none  text-lg rounded-sm border
    hover:bg-slate-50 shadow-sm cursor-pointer h-10 w-10 text-center
}
/* Pin input - start */

/* Radio - start */
.kf-radio-group div {
    @apply
    flex mt-1 shadow-sm w-fit
}
.kf-radio-group input[type="radio"] {
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
}
.kf-radio-group input[type="radio"] {
    @apply
    overflow-hidden absolute whitespace-nowrap 
}

.kf-radio-group input[type="radio"]:checked + span {
  /* box-shadow: 0 0 0 0.0625em #0043ed; */
  @apply bg-black text-white border
}

.kf-radio-label span {
    @apply
    block cursor-pointer bg-white relative border px-3.5 py-2 hover:bg-slate-50
}
.kf-radio-label span {
    transition: background-color .3s ease !important;
}
/* Radio - end */

/* Select (experimental) - start */
.kf-select {
    @apply
    relative inline
}
.kf-select-btn {
    @apply
    kf-btn-default min-w-36 text-left
}
.kf-select-option{
    @apply
    hidden z-[1] absolute bg-white border rounded-sm shadow-md cursor-pointer
}
.kf-select-option a {
    @apply
    px-3.5 py-2 hover:bg-slate-50  hover:rounded-sm min-w-36 block text-sm
}
.kf-select-show {
    @apply
    block
}
/* .kf-select:hover .kf-select-option{
    display: block;
} */
/* Select (experimental) - end */

/* Toggle - start */
.kf-toggle {
    @apply
    relative inline-flex items-center cursor-pointer
}
.kf-toggle input {
    @apply
    sr-only border
}
.kf-toggle div {
    @apply
    rounded-full w-16 h-8 bg-gray-300 duration-100 after:duration-300
    after:absolute after:outline-none after:rounded-full 
    after:h-6 after:w-6 after:bg-white after:top-1 after:left-1 
    after:flex after:justify-center after:items-center after:font-bold
}
/* Toggle - end */

/* Upload File - start */
.kf-file label{
    @apply
    kf-btn-default
}
.kf-file input {
    @apply
    hidden
}
/* Upload File - end */